@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap');

*{
    box-sizing: border-box;
    /*font-family: 'Alegreya Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:   #009688;
    height: 100vh;
}

.weatherOverlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 3em;
}