.score{
    display: flex;           
}

.header{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    /* color: white; */
}

.card{
    margin: 30px;
    border-right: 1px solid white;
}

.cardText{
    font-size: 18px;
   font-weight: 200;
   padding: 5px;
   /* color: white; */
   text-align: center;
}
