.score{
    display: flex;           
}

.score3day{
    display: flex;
}

.header{
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
}

.card{
    width: 100%;
}

.cardText{
    font-size: 16px;
   font-weight: 100;
   padding: 5px;
   text-align: center;
}

.temp{
    text-align: center;
    color: red;
    padding: 20px;
}


