.toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}    

.header{
    font-family: 'Lato', serif;
    font-size: 2em;
    color: white;
    font-weight: 200;
}

.AppBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}